@import "../../sass/variables.scss";
@import "../field/field.scss";

.playingField {
  background-color: black;
  width: calc(3 * ($field-size + $line-weight));
  height: calc(3 * ($field-size + $line-weight));

  .row {
    width: 90vw;
    margin: 0 auto;
    float: left;
  }
}

.choooseColor {
  display: none;
}
